[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
boltons = "*"
attrs = "*"
structlog = "*"
more_itertools = "*"
"e1839a8" = {path = ".", editable = true}
pytest = "*"
rapidfuzz = "*"

[dev-packages]
pytest = "*"
vcrpy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
jupyter = "*"
